@charset "utf-8";

/*

   San Diego Native Plants Site
   General Style Sheet

   by David Richards
   2021-10-31
  
   Filename: style.css

*/

body {
   background: radial-gradient(wheat, white);
   margin: 0;
   font-family: "Trebuchet MS", sans-serif;
}

body > p {
   margin: 2% 2%;
}

a:hover {
   font-weight: bold;
}

div.plantCard ul {
   list-style: disc;
   width: 90%;
   margin-left: 5px;
   text-align: center;
}

.plantCategory {
   display: flex;
   flex-flow: row wrap;
   justify-content: space-between;
}

.plantCard,
.plantFlashcard {
   display: block;
   width: 400px;
   flex: 2 2 300px;
   border-radius: 15px;
   border: 1px black solid;
   padding: 2px 10px;
   margin: 5px;
   text-align: center;
   background-color: #7ebec5;
   box-shadow: 3px 3px darkslateblue;
}

.plantFlashcard {
   min-height: 500px;
   margin: 0 auto;
}

.plantCard > *,
.plantFlashcard > * {
   display: inline-block;
   width: 100%;
   padding: 0;
}

/* div.chaparral #plantCard {
   background-color: #809961;
   }
div.desert {
    background-color: #7EBEC5;
   }
} */

.plantCard img,
.plantFlashcard img {
   max-height: 400px;
   max-width: 400px;
}

.categoryHeader {
   background-size: cover;
   height: 200px;
   display: flex;
   align-items: center;
   color: white;
   text-align: center;
   padding: 20px;
   margin: 5px 0;
}

.categoryHeader * {
   width: 100%;
   text-shadow: 1px 1px 5px black;
}

#coastalSageScrub {
   background: linear-gradient(#7ebec5, #16841f);
   background: url(img/coastalsagescrub/css_background.jpg);
   background-position: center;
}

#chaparral {
   background: linear-gradient(#29c4a9, #2b87da);
   background: url(img/chaparral/chaparral_background2.jpg);
   background-position: bottom;
}

#desert {
   background-color: #809961;
   background: linear-gradient(#85db8f, #16841f);
   background: url(img/drylake/desertdrylake_background2.jpg);
   background-position: center;
}

.resources {
   display: flex;
   flex-flow: wrap row;
   justify-content: center;
   height: 100%;
   margin: 10px;
}

.resources p,
.resources span,
.resources img,
nav {
   text-align: center;
   width: 100%;
}

.resources > div {
   margin: 10px;
   display: inline-block;
   flex: 0 0 500px;
}

footer {
   position: fixed;
   bottom: 0;
   background-color: black;
   color: white;
   text-align: center;
}

footer a {
   color: white;
}

.controls {
   margin: 10px auto;
   text-align: center;
}

.plantFlashcard input[type="button"] {
   width: 50%;
   height: 50px;
   display: block;
   float: left;
   font-size: x-large;
   font-weight: bold;
}

#slideshow i {
   display: block;
   padding-bottom: 15px;
}

ul {
   list-style: lower-alpha;
}

#quiz {
   text-align: center;
   display: flex;
   flex-flow: wrap row;
   justify-content: center;
   margin: 0 5%;
}

#score {
   text-align: center;
}

#score::before {
   background-color: black;
   color: white;
}

#buttons {
   text-align: center;
}

.question {
   color: green;
   display: block;
   margin: 10px;
   padding: 10px;
   border: 5px black solid;
   border-radius: 15px;
   overflow-y: auto;
}

h4 {
   margin: 0;
}

.answer {
   display: none;
}
